<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

	<context id="DB2Tables" targetRuntime="MyBatis3">
		<commentGenerator>
			<property name="suppressAllComments" value="true"/>
		</commentGenerator>
	
		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://172.168.201.31:3306/weichat_operation_maintenance?characterEncoding=utf-8" userId="datae" password="Sd_12345">
		</jdbcConnection>

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>

		<!-- 设置Java类生成的位置 -->
		<javaModelGenerator targetPackage="com.sendi.weichat_operation_maintenance.dao.entity"
			targetProject=".\src\main\java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>

		<!--生成映射文件存放位置-->
		<sqlMapGenerator targetPackage="mapper"
			targetProject=".\src\main\resources">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<!--生成Dao类存放位置-->
		<javaClientGenerator type="XMLMAPPER" targetPackage="com.sendi.weichat_operation_maintenance.dao.mapper"
			targetProject=".\src\main\java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>


		<table tableName="send"
			   enableCountByExample="false"
			   enableUpdateByExample="false" enableDeleteByExample="false"
			   enableSelectByExample="false" selectByExampleQueryId="false"/>
	</context>
</generatorConfiguration>