<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sendi.weichat_operation_maintenance.dao.mapper.SendMapper">
  <resultMap id="BaseResultMap" type="com.sendi.weichat_operation_maintenance.dao.entity.Send">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="actiontime" jdbcType="VARCHAR" property="actiontime" />
    <result column="user_wxid" jdbcType="VARCHAR" property="userWxid" />
    <result column="kf_wxid" jdbcType="VARCHAR" property="kfWxid" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.sendi.weichat_operation_maintenance.dao.entity.Send">
    <result column="msg_text" jdbcType="LONGVARCHAR" property="msgText" />
  </resultMap>
  <sql id="Base_Column_List">
    id, actiontime, user_wxid, kf_wxid
  </sql>
  <sql id="Blob_Column_List">
    msg_text
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from send
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from send
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sendi.weichat_operation_maintenance.dao.entity.Send">
    insert into send (id, actiontime, user_wxid, 
      kf_wxid, msg_text)
    values (#{id,jdbcType=INTEGER}, #{actiontime,jdbcType=VARCHAR}, #{userWxid,jdbcType=VARCHAR}, 
      #{kfWxid,jdbcType=VARCHAR}, #{msgText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sendi.weichat_operation_maintenance.dao.entity.Send">
    insert into send
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="actiontime != null">
        actiontime,
      </if>
      <if test="userWxid != null">
        user_wxid,
      </if>
      <if test="kfWxid != null">
        kf_wxid,
      </if>
      <if test="msgText != null">
        msg_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="actiontime != null">
        #{actiontime,jdbcType=VARCHAR},
      </if>
      <if test="userWxid != null">
        #{userWxid,jdbcType=VARCHAR},
      </if>
      <if test="kfWxid != null">
        #{kfWxid,jdbcType=VARCHAR},
      </if>
      <if test="msgText != null">
        #{msgText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sendi.weichat_operation_maintenance.dao.entity.Send">
    update send
    <set>
      <if test="actiontime != null">
        actiontime = #{actiontime,jdbcType=VARCHAR},
      </if>
      <if test="userWxid != null">
        user_wxid = #{userWxid,jdbcType=VARCHAR},
      </if>
      <if test="kfWxid != null">
        kf_wxid = #{kfWxid,jdbcType=VARCHAR},
      </if>
      <if test="msgText != null">
        msg_text = #{msgText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sendi.weichat_operation_maintenance.dao.entity.Send">
    update send
    set actiontime = #{actiontime,jdbcType=VARCHAR},
      user_wxid = #{userWxid,jdbcType=VARCHAR},
      kf_wxid = #{kfWxid,jdbcType=VARCHAR},
      msg_text = #{msgText,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sendi.weichat_operation_maintenance.dao.entity.Send">
    update send
    set actiontime = #{actiontime,jdbcType=VARCHAR},
      user_wxid = #{userWxid,jdbcType=VARCHAR},
      kf_wxid = #{kfWxid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>